aiofiles==24.1.0
aiogram==3.19.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.11.1
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cssselect==1.3.0
defusedxml==0.7.1
exceptiongroup==1.2.2
Flask==3.1.0
Flask-Login==0.6.3
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
json5==0.10.0
lxml==5.3.1
magic-filter==1.0.12
MarkupSafe==3.0.2
multidict==6.2.0
numpy==1.24.4
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
outcome==1.3.0.post0
packaging==24.2
pinscrape==4.0.0
playwright==1.51.0
pluggy==1.5.0
propcache==0.3.1
pycparser==2.22
pycurl==7.45.6
pydantic==2.10.6
pydantic_core==2.27.2
pydotmap==0.1.3
pyee==12.1.1
pyquery==2.0.1
PySocks==1.7.1
pyspider==0.3.10
pytest==7.2.0
PyYAML==6.0.2
requests==2.32.3
selenium==4.30.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
tblib==3.0.0
tomli==2.2.1
tornado==4.5.3
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.0
u-msgpack-python==2.8.0
urllib3==2.3.0
websocket-client==1.8.0
Werkzeug==3.1.3
WsgiDAV==4.3.3
wsproto==1.2.0
yarl==1.18.3
